@charset "utf-8";
/* CSS Document */

body {
	background:#FFF;
	color:#000;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
}
body, div, span, table, td {font-family:Tahoma, Geneva, sans-serif; font-size:12px;}

.clear {clear:both;}

/* page chat */
.page-chat {margin:10px auto; width:800px;}
.page-chat > .chat-input {border:1px solid #09F; margin:10px 0 10px 0;}
.page-chat > .chat-input > form > input[type=text] {display:block; height:30px; margin:0 auto; width:790px;}
.page-chat > .chat-input > form > button {width:100px;}
.page-chat > .chat-name {border:1px solid #CCC; float:right; height:350px; overflow:auto; width:250px;}
.page-chat > .chat-name > #users > .name-list {font-weight:bold;}
.page-chat > .chat-name > #users > .name-list-admin {color:#F90; font-weight:bold;}
.page-chat > .chat-msg {border:1px solid #CCC; float:left; height:350px; overflow:auto; width:530px;}
.page-chat > .chat-msg > #messages > .message {font-family:Tahoma, Geneva, sans-serif; font-size:12px;}
.page-chat > .chat-msg > #messages > .message > .chat-name {font-weight:bold;}
.page-chat > .chat-msg > #messages > .message > .chat-name > .chat-time {font-weight:normal;}
.page-chat > .txt_logout {text-align:right;}

/* page index */
.page-index {margin:200px auto; width:210px;}
.page-index > .txt_error {margin:o auto; text-align:center;}
.page-index > form > table {width:200px;}
.page-index > form > table input {width:100px;}

.txt_error {color:#F00; font-weight:bold;}